.category{
  width: 20%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;

}

.costs {
  color: red;
}

.income {
  color: green;
}

.amount {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}